@use '../base/vars' as *;
@use '../base/mixins' as *;
@use '../base/texts' as *;
@use '../base/breakpoints' as *;

.form {
  @include flexColumn;
  row-gap: 20px;

  &__inputs {
    @include grid(3);
    column-gap: 12px;
  }

  &__textareas {
    @include flexColumn;
    row-gap: 12px;
  }

  &__btns {
    @include flexCenterStart;
    column-gap: 20px;
  }

  &__btn {
    width: 256px;
  }
}

@include desktop-xl {
  .form {
    row-gap: 12px;

    &__btns {
      margin-top: 4px;
    }

    &__btn {
      width: 224px;
    }
  }
}
