@use '../base/vars' as *;
@use '../base/mixins' as *;
@use '../base/texts' as *;

.form {
  @include flexColumn;
  row-gap: 20px;

  &__inputs {
    @include grid(3);
    column-gap: 12px;
  }

  &__textareas {
    @include flexColumn;
    row-gap: 12px;
  }

  &__btns {
    @include flexCenterStart;
    column-gap: 20px;
  }

  &__btn {
    width: 256px;
  }
}
