@use '../base/vars' as *;
@use '../base/mixins' as *;
@use '../base/texts' as *;
@use '../base/breakpoints' as *;

.questionForm {
  @include flexColumn;
  row-gap: 20px;
  border: 1px solid $blue;
  padding: 20px 32px;
  border-radius: 24px;

  &__icon {
    @include sizes(60px, 60px);
  }

  &__titles {
    @include flexCenterStart;
    column-gap: 20px;
  }

  &__titles-texts {
    @include flexColumn;
    row-gap: 4px;
  }

  &__titles-title {
    @include mediumInter20;
  }

  &__titles-text {
    @include regularInter16;
    color: $grey;
  }
}

@include desktop-xl {
  .questionForm {
    padding: 16px 24px;
    row-gap: 16px;

    &__icon {
      @include sizes(48px, 48px);
    }

    &__titles-title {
      @include mediumInter16;
    }

    &__titles-text {
      @include regularInter14;
    }
  }
}