@use '../base/vars' as *;
@use '../base/mixins' as *;
@use '../base/texts' as *;
@use '../base/breakpoints' as *;

.section {
  padding: 68px 0;
  background-color: $white;

  &--blue {
    background-color: $whiteBlue;
  }

  &__titles {
    @include flexCenterBetween;
    margin-bottom: 24px;
  }

  &__title {
    @include mediumInter28;
  }
}

@include desktop-xl {
  .section {
    padding: 48px 0;

    &__titles {
      margin-bottom: 20px;
    }

    &__title {
      @include mediumInter24;
    }
  }
}
