@use 'vars' as *;
@use 'texts' as *;
@use 'breakpoints' as *;

html {
  scroll-behavior: smooth;
  background-color: $white;
}

body {
  background-color: $white;
  color: $textColor;
  text-wrap: balance;
  @include regularInter12;
}

img {
  display: block;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

a {
  color: $textColor;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1690px;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1690px;
  width: 100%;
}

 @include desktop-xl {
  .container {
    max-width: 1215px;
  }
 }
