$containerWidth: 1690px;
$containerPadding: 15px;

$fontInter: 'Inter', sans-serif;
$fontManrope: 'Manrope', sans-serif;

$white: #ffffff;
$pageBgColor: #f5f8fa;
$textColor: #1a1a1a;
$blue: #4092f1;
$blueSec: #edf5fe;
$blueHover: #e2eefc;
$blueActive: #dae8fa;
$borderGrey: #eceff8;
$black: #000000;

$placeholder: #6a727b;
$error: #ed5858;
$errorSec: #faf1f1;
$green: #64b847;
$greenSec: #f0f7ee;
$hit: #ec7b52;
$yellow: #fcdf28;

$shadowCard: 0px 0px 10px 0px #1c2d400d;
$shadowCardBtn: 0px 2px 5px 0px #1c2d401a;
$shadowCardBtnHover: 0px 2px 7px 0px #1c2d401f;

$desktopxXL: 1920px;
$desktop: 1400px;
$laptop: 1024px;
$tablet: 768px;
$mobLG: 767px;
$mobSM: 360px;
