<section class="section section--blue">
  <div class="container">
    <div class="section__titles">
      <h2 class="section__title">Новые поступления</h2>
      <div class="section__navigation swiper-navigation">
        <button
          type="button"
          class="swiper-navigation__btn swiper-navigation__arrivals--prev"
          aria-label="Предыдущий слайд"
        >
          <svg class="icon icon--swiper">
            <use href="./img/svgsprite/sprite.symbol.svg#arrowLeft"></use>
          </svg>
        </button>
        <button
          type="button"
          class="swiper-navigation__btn swiper-navigation__arrivals--next"
          aria-label="Следующий слайд"
        >
          <svg class="icon icon--swiper">
            <use href="./img/svgsprite/sprite.symbol.svg#arrowRight"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="cards cards--5">
      <a href="#" class="cards__card card">
        <div class="card__top">
          <div class="card__top-btns">
            <button type="button" class="card__top-btn" aria-label="Сравнить">
              <svg class="icon icon--comparison">
                <use href="./img/svgsprite/sprite.symbol.svg#comparison"></use>
              </svg>
            </button>
            <button type="button" class="card__top-btn card__top-btn--active" aria-label="Добавить в избранное">
              <svg class="icon icon--like">
                <use href="./img/svgsprite/sprite.symbol.svg#like"></use>
              </svg>
            </button>
          </div>
          <div class="card__top-img">
            <img src="../../../img/cards/card-1.png" alt="Ингалятор компрессорный компактный MED-125" />
          </div>
          <button type="button" class="card__top-view" aria-label="Быстрый просмотр">
            <svg class="card__top-view-icon icon icon--viewFull">
              <use href="./img/svgsprite/sprite.symbol.svg#viewFull"></use>
            </svg>
            <span class="card__top-view-text">Быстрый просмотр</span>
          </button>
          <div class="card__top-info">
            <div class="card__top-art">Арт. 4501390</div>
            <div class="card__top-comment">
              <svg class="card__top-comment-icon icon icon--comment">
                <use href="./img/svgsprite/sprite.symbol.svg#comment"></use>
              </svg>
              <span class="card__top-comment-count">5</span>
            </div>
          </div>
        </div>
        <div class="card__bottom">
          <div class="card__bottom-top">
            <h3 class="card__bottom-title">Ингалятор компрессорный компактный MED-125</h3>
            <div class="card__bottom-items">
              <span class="card__bottom-status card__bottom-status--in-stock">В наличии</span>
              <span class="card__bottom-status card__bottom-status--hit">Хит</span>
            </div>
          </div>
          <div class="card__prices">
            <div class="card__prices-actual">
              <b class="card__price">24 529 ₽</b>
              <span class="card__price-unit">шт.</span>
            </div>
            <div class="card__prices-old">1 494 ₽</div>
          </div>
          <div class="card__btns">
            <button type="button" class="card__btn btn btn--white">
              <span>Заказать</span>
            </button>
          </div>
        </div>
      </a>
      <a href="#" class="cards__card card">
        <div class="card__top">
          <div class="card__top-btns">
            <button type="button" class="card__top-btn" aria-label="Сравнить">
              <svg class="icon icon--comparison">
                <use href="./img/svgsprite/sprite.symbol.svg#comparison"></use>
              </svg>
            </button>
            <button type="button" class="card__top-btn" aria-label="Добавить в избранное">
              <svg class="icon icon--like">
                <use href="./img/svgsprite/sprite.symbol.svg#like"></use>
              </svg>
            </button>
          </div>
          <div class="card__top-img">
            <img src="../../../img/cards/card-2.png" alt="Ингалятор компрессорный компактный MED-125" />
          </div>
          <button type="button" class="card__top-view" aria-label="Быстрый просмотр">
            <svg class="card__top-view-icon icon icon--viewFull">
              <use href="./img/svgsprite/sprite.symbol.svg#viewFull"></use>
            </svg>
            <span class="card__top-view-text">Быстрый просмотр</span>
          </button>
          <div class="card__top-info">
            <div class="card__top-art">Арт. 4501390</div>
            <div class="card__top-comment">
              <svg class="card__top-comment-icon icon icon--comment">
                <use href="./img/svgsprite/sprite.symbol.svg#comment"></use>
              </svg>
              <span class="card__top-comment-count">5</span>
            </div>
          </div>
        </div>
        <div class="card__bottom">
          <div class="card__bottom-top">
            <h3 class="card__bottom-title">Облучатель-рециркулятор медицинский СH111-115</h3>
            <div class="card__bottom-items">
              <span class="card__bottom-status card__bottom-status--no-stock">Нет в наличии</span>
              <span class="card__bottom-status card__bottom-status--hit">Хит</span>
            </div>
          </div>
          <div class="card__prices">
            <div class="card__prices-actual">
              <b class="card__price">6 284 ₽</b>
              <span class="card__price-unit">шт.</span>
            </div>
            <div class="card__prices-old">1 494 ₽</div>
          </div>
          <div class="card__btns">
            <div class="card__btns-counts">
              <button type="button" class="card__btns-btn card__btns-btn--decrease" aria-label="Уменьшить количество">
              <svg class="icon icon--minus">
                <use href="./img/svgsprite/sprite.symbol.svg#minus"></use>
              </svg>
              </button>
              <span class="card__btns-count">1</span>
              <button type="button" class="card__btns-btn card__btns-btn--increase" aria-label="Увеличить количество">
                <svg class="icon icon--plus">
                  <use href="./img/svgsprite/sprite.symbol.svg#plus"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="cards__card card">
        <div class="card__top">
          <div class="card__top-btns">
            <button type="button" class="card__top-btn" aria-label="Сравнить">
              <svg class="icon icon--comparison">
                <use href="./img/svgsprite/sprite.symbol.svg#comparison"></use>
              </svg>
            </button>
            <button type="button" class="card__top-btn" aria-label="Добавить в избранное">
              <svg class="icon icon--like">
                <use href="./img/svgsprite/sprite.symbol.svg#like"></use>
              </svg>
            </button>
          </div>
          <div class="card__top-img">
            <img src="../../../img/cards/card-3.png" alt="Ингалятор компрессорный компактный MED-125" />
          </div>
          <button type="button" class="card__top-view" aria-label="Быстрый просмотр">
            <svg class="card__top-view-icon icon icon--viewFull">
              <use href="./img/svgsprite/sprite.symbol.svg#viewFull"></use>
            </svg>
            <span class="card__top-view-text">Быстрый просмотр</span>
          </button>
          <div class="card__top-info">
            <div class="card__top-art">Арт. 4501390</div>
            <div class="card__top-comment">
              <svg class="card__top-comment-icon icon icon--comment">
                <use href="./img/svgsprite/sprite.symbol.svg#comment"></use>
              </svg>
              <span class="card__top-comment-count">5</span>
            </div>
          </div>
        </div>
        <div class="card__bottom">
          <div class="card__bottom-top">
            <h3 class="card__bottom-title">Тонометр механический CS Medica CS-106 с фонедоскопом</h3>
            <div class="card__bottom-items">
              <span class="card__bottom-status card__bottom-status--in-stock">В наличии</span>
              <span class="card__bottom-status card__bottom-status--new">Новинка</span>
              <span class="card__bottom-status card__bottom-status--sale">Акция</span>
            </div>
          </div>
          <div class="card__prices">
            <div class="card__prices-actual">
              <b class="card__price">1 494 ₽</b>
              <span class="card__price-unit">шт.</span>
            </div>
            <div class="card__prices-old">1 494 ₽</div>
          </div>
          <div class="card__btns">
            <button type="button" class="card__btn btn btn--icon" aria-label="В корзину">
              <svg class="btn__icon icon icon--cart">
                <use href="./img/svgsprite/sprite.symbol.svg#cart"></use>
              </svg>
              <span>В корзину</span>
            </button>
          </div>
        </div>
      </a>
      <a href="#" class="cards__card card">
        <div class="card__top">
          <div class="card__top-btns">
            <button type="button" class="card__top-btn" aria-label="Сравнить">
              <svg class="icon icon--comparison">
                <use href="./img/svgsprite/sprite.symbol.svg#comparison"></use>
              </svg>
            </button>
            <button type="button" class="card__top-btn" aria-label="Добавить в избранное">
              <svg class="icon icon--like">
                <use href="./img/svgsprite/sprite.symbol.svg#like"></use>
              </svg>
            </button>
          </div>
          <div class="card__top-img">
            <img src="../../../img/cards/card-4.png" alt="Ингалятор компрессорный компактный MED-125" />
          </div>
          <button type="button" class="card__top-view" aria-label="Быстрый просмотр">
            <svg class="card__top-view-icon icon icon--viewFull">
              <use href="./img/svgsprite/sprite.symbol.svg#viewFull"></use>
            </svg>
            <span class="card__top-view-text">Быстрый просмотр</span>
          </button>
          <div class="card__top-info">
            <div class="card__top-art">Арт. 4501390</div>
            <div class="card__top-comment">
              <svg class="card__top-comment-icon icon icon--comment">
                <use href="./img/svgsprite/sprite.symbol.svg#comment"></use>
              </svg>
              <span class="card__top-comment-count">5</span>
            </div>
          </div>
        </div>
        <div class="card__bottom">
          <div class="card__bottom-top">
            <h3 class="card__bottom-title">Термометр мед.электр.WT-03</h3>
            <div class="card__bottom-items">
              <span class="card__bottom-status card__bottom-status--in-stock">В наличии</span>
              <span class="card__bottom-status card__bottom-status--new">Новинка</span>
            </div>
          </div>
          <div class="card__prices">
            <div class="card__prices-actual">
              <b class="card__price">994 ₽</b>
              <span class="card__price-unit">шт.</span>
            </div>
            <div class="card__prices-old">1 494 ₽</div>
          </div>
          <div class="card__btns">
            <button type="button" class="card__btn btn btn--icon" aria-label="В корзину">
              <svg class="btn__icon icon icon--cart">
                <use href="./img/svgsprite/sprite.symbol.svg#cart"></use>
              </svg>
              <span>В корзину</span>
            </button>
          </div>
        </div>
      </a>
      <a href="#" class="cards__card card">
        <div class="card__top">
          <div class="card__top-btns">
            <button type="button" class="card__top-btn" aria-label="Сравнить">
              <svg class="icon icon--comparison">
                <use href="./img/svgsprite/sprite.symbol.svg#comparison"></use>
              </svg>
            </button>
            <button type="button" class="card__top-btn" aria-label="Добавить в избранное">
              <svg class="icon icon--like">
                <use href="./img/svgsprite/sprite.symbol.svg#like"></use>
              </svg>
            </button>
          </div>
          <div class="card__top-img">
            <img src="../../../img/cards/card-4.png" alt="Ингалятор компрессорный компактный MED-125" />
          </div>
          <button type="button" class="card__top-view" aria-label="Быстрый просмотр">
            <svg class="card__top-view-icon icon icon--viewFull">
              <use href="./img/svgsprite/sprite.symbol.svg#viewFull"></use>
            </svg>
            <span class="card__top-view-text">Быстрый просмотр</span>
          </button>
          <div class="card__top-info">
            <div class="card__top-art">Арт. 4501390</div>
            <div class="card__top-comment">
              <svg class="card__top-comment-icon icon icon--comment">
                <use href="./img/svgsprite/sprite.symbol.svg#comment"></use>
              </svg>
              <span class="card__top-comment-count">5</span>
            </div>
          </div>
        </div>
        <div class="card__bottom">
          <div class="card__bottom-top">
            <h3 class="card__bottom-title">Насадки CS Medica SP-12 для зубной щетки CS Medica SonicPulsar CS-131</h3>
            <div class="card__bottom-items">
              <span class="card__bottom-status card__bottom-status--no-stock">Нет в наличии</span>
              <span class="card__bottom-status card__bottom-status--new">Новинка</span>
              <span class="card__bottom-status card__bottom-status--percent">%</span>
            </div>
          </div>
          <div class="card__prices">
            <div class="card__prices-actual">
              <b class="card__price">3 736 ₽</b>
              <span class="card__price-unit">шт.</span>
            </div>
            <div class="card__prices-old">1 494 ₽</div>
          </div>
          <div class="card__btns">
            <button type="button" class="card__btn btn btn--icon" aria-label="В корзину">
              <svg class="btn__icon icon icon--cart">
                <use href="./img/svgsprite/sprite.symbol.svg#cart"></use>
              </svg>
              <span>В корзину</span>
            </button>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
