<section class="section">
  <div class="container">
    <div class="questionForm">
      <div class="questionForm__titles">
        <svg class="questionForm__icon icon icon--file">
          <use href="./img/svgsprite/sprite.symbol.svg#file"></use>
        </svg>
        <div class="questionForm__titles-texts">
          <h3 class="questionForm__titles-title">Не нашли ответа на свой вопрос?</h3>
          <p class="questionForm__titles-text">Напишите нам, и мы предоставим необходимую информацию.</p>
        </div>
      </div>
      <form action="" class="questionForm__form form">
        <div class="form__inputs">
          <div class="input input--error">
            <div class="input__block">
              <input type="text" class="input__input" placeholder="Имя*" />
              <div class="input__icon">
                <button class="input__icon-reset" type="button" aria-label="Очистить">
                  <svg class="icon icon--reset">
                    <use href="./img/svgsprite/sprite.symbol.svg#reset"></use>
                  </svg>
                </button>
                <svg class="input__icon-success icon icon--successInput">
                  <use href="./img/svgsprite/sprite.symbol.svg#successInput"></use>
                </svg>
              </div>
            </div>
            <p class="input__error">Поле обязательно к заполнению</p>
            <p class="input__success">Промокод применён</p>
          </div>
          <div class="input input--success">
            <div class="input__block">
              <input type="tel" class="input__input" placeholder="Телефон*" />
              <div class="input__icon">
                <button class="input__icon-reset" type="button" aria-label="Очистить">
                  <svg class="icon icon--reset">
                    <use href="./img/svgsprite/sprite.symbol.svg#reset"></use>
                  </svg>
                </button>
                <svg class="input__icon-success icon icon--successInput">
                  <use href="./img/svgsprite/sprite.symbol.svg#successInput"></use>
                </svg>
              </div>
            </div>
            <p class="input__error">Поле обязательно к заполнению</p>
            <p class="input__success">Промокод применён</p>
          </div>
          <div class="input">
            <div class="input__block">
              <input type="email" class="input__input" placeholder="E-mail*" />
              <div class="input__icon">
                <button class="input__icon-reset" type="button" aria-label="Очистить">
                  <svg class="icon icon--reset">
                    <use href="./img/svgsprite/sprite.symbol.svg#reset"></use>
                  </svg>
                </button>
                <svg class="input__icon-success icon icon--successInput">
                  <use href="./img/svgsprite/sprite.symbol.svg#successInput"></use>
                </svg>
              </div>
            </div>
            <p class="input__error">Поле обязательно к заполнению</p>
            <p class="input__success">Промокод применён</p>
          </div>
        </div>
        <div class="form__textareas">
          <div class="textarea">
            <div class="textarea__block">
              <textarea class="textarea__textarea" placeholder="Сообщение"></textarea>
              <div class="textarea__icon">
                <button class="textarea__icon-reset" type="button" aria-label="Очистить">
                  <svg class="icon icon--reset">
                    <use href="./img/svgsprite/sprite.symbol.svg#reset"></use>
                  </svg>
                </button>
                <svg class="textarea__icon-success icon icon--successInput">
                  <use href="./img/svgsprite/sprite.symbol.svg#successInput"></use>
                </svg>
              </div>
            </div>
            <p class="textarea__error">Поле обязательно к заполнению</p>
            <p class="textarea__success">Промокод применён</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
