<section class="section">
  <div class="container">
    <div class="questionForm">
      <div class="questionForm__titles">
        <svg class="questionForm__icon icon icon--file">
          <use href="./img/svgsprite/sprite.symbol.svg#file"></use>
        </svg>
        <div class="questionForm__titles-texts">
          <h3 class="questionForm__titles-title">Не нашли ответа на свой вопрос?</h3>
          <p class="questionForm__titles-text">Напишите нам, и мы предоставим необходимую информацию.</p>
        </div>
      </div>
      <form class="questionForm__form form js-form">
        <div class="form__inputs">
          <div class="input">
            <div class="input__block">
              <input type="text" name="name" class="input__input" placeholder="Имя*" autocomplete="off" />
              <div class="input__icon">
                <svg class="input__icon-success icon icon--successInput">
                  <use href="./img/svgsprite/sprite.symbol.svg#successInput"></use>
                </svg>
              </div>
            </div>
            <p class="input__error"></p>
            <p class="input__success"></p>
          </div>
          <div class="input">
            <div class="input__block">
              <input type="tel" name="phone" class="input__input" placeholder="Телефон*" autocomplete="off" />
              <div class="input__icon">
                <svg class="input__icon-success icon icon--successInput">
                  <use href="./img/svgsprite/sprite.symbol.svg#successInput"></use>
                </svg>
              </div>
            </div>
            <p class="input__error"></p>
            <p class="input__success"></p>
          </div>
          <div class="input">
            <div class="input__block">
              <input type="email" name="email" class="input__input" placeholder="E-mail*" autocomplete="off" />
              <div class="input__icon">
                <svg class="input__icon-success icon icon--successInput">
                  <use href="./img/svgsprite/sprite.symbol.svg#successInput"></use>
                </svg>
              </div>
            </div>
            <p class="input__error"></p>
            <p class="input__success"></p>
          </div>
        </div>
        <div class="form__textareas">
          <div class="textarea">
            <div class="textarea__block">
              <textarea class="textarea__textarea" name="comment" placeholder="Сообщение" autocomplete="off"></textarea>
              <div class="textarea__icon">
                <svg class="textarea__icon-success icon icon--successInput">
                  <use href="./img/svgsprite/sprite.symbol.svg#successInput"></use>
                </svg>
              </div>
            </div>
            <p class="textarea__error"></p>
            <p class="textarea__success"></p>
          </div>
        </div>
        <div class="form__btns">
          <button type="submit" class="form__btn btn btn--blue">
            <span>Задать вопрос</span>
          </button>
          <div class="form__checkbox checkbox">
            <input type="checkbox" class="checkbox__input" id="agree" name="agree" />
            <label for="agree" class="checkbox__label">
              <div class="checkbox__text">
                Я согласен с условиями <a href="#" class="checkbox__text-link">пользовательского соглашения</a>.
              </div>
            </label>
            <p class="checkbox__error"></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
